#rect{
    background-color:white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 200px 200px 100px 200px;
    grid-template-columns: 1.5fr 500px 1.5fr;
  
    grid-template-areas:
    ". . ." 
    "name name name "
    ". button  ."
    ". . .";
    
   justify-content: center;
    align-items: center;
}

#main-title-name{
    grid-area: name;
    font-size: 70px;
    font-family: Arial;
    font-weight: 50;
    text-align: center;
    background-color: white;
    justify-self: center;
    align-self: center;
   
 
}




#button-tabs-list{
    grid-area: button;
    list-style-type: none;
    list-style: none;
    
   

    font-family: Arial;
    color: black;
    font-weight: bold;
    
    font-weight: 50;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;

}

#button-tabs-list>li{
    justify-self: center;
    align-self: center;
    padding: 2em;
   
    text-align: center;
}

.button-font{
    font-size: 24px;
}




a.link:link{ /*for links that have not been visited (class is called "link")*/
    color: black;
    text-decoration: none;

} 

a.link:visited{ /*for links that have been visited (class is called "link")*/
    color: black;
    text-decoration: none;
} 

a.link:hover{ /*when hover over a link (class is called "link")*/
  color:rgb(216,216,216);
  transition-duration: 0.3s; /*creates delay of change of colour to lightgray when hover */
}









/* For Mobile or Small Screens */


@media only screen and (max-width: 736px){

    #rect{
        background-color:white;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 200px 200px 100px 200px;
        grid-template-columns: 400px ;
      
        grid-template-areas:
        ". " 
        "name"
        "button"
        ".";
        
       justify-content: center;
        align-items: center;
    }

    #main-title-name{
        grid-area: name;
        font-size: 50px;
        font-family: Arial;
        font-weight: 50;
        text-align: left;
        background-color: white;
        justify-self: center;
        align-self: center;
        padding: 20px;
       
     
    }

    #button-tabs-list{
        grid-area: button;
        list-style-type: none;
        list-style: none;
        
       
    
        font-family: Arial;
        color: black;
        font-weight: bold;
        
        font-weight: 50;
    
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: stretch;
        background-color: white;
        
     
    
    }

    #button-tabs-list>li{
        justify-self: center;
        padding: 10px;
       margin-left: -50px;
        
        text-align: center;
    }


    .button-font{
        font-size: 16px;
    }



}



