/* Start For top of Page */
#wrapper{
                   
    display: grid;
    grid-template-columns: 1fr 300px 400px 400px 1fr;
    grid-template-rows: 50px 700px 700px 50px;
    grid-template-areas: 
    ". name nav-tab nav-tab ."
    ". main main main ."
    ". main main main ."
    ". footer footer footer .";
    margin-top: 120px;
}



#nav-name{
    grid-area: name;
                                   
    background-color: white;

    font-weight: 50;
    font-family: Helvetica;
    font-size: 40px;
    border-bottom: 1px solid lightgray;
    padding-left: 12%;
    padding-bottom: 40px;
    color: black;
  
}

#nav-name:link{
    color: black;
    text-decoration: none;
  
}

#nav-name:visited{
    color: black;
    text-decoration: none;
  
}

#nav-name:hover{
    color:rgb(216,216,216);
    transition-duration: 0.3s; /*creates delay of change of colour to lightgray when hover */
  
}

#nav-tab{
    grid-area: nav-tab;
    background-color: white;
    border-bottom: 1px solid lightgray;
}





.nav-button-image{
    width: 20px;
    height: 20px;
    border: 2px solid black;
}
.nav-button-image:hover{
    border: 2px solid rgb(216,216,216);
    transition-duration: 0.3s;
}




#nav-button-list{
    list-style-type: none;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    margin-right: 8%;
 
    

}

#nav-button-list li{
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px; 
  
}

#nav-button-list a:link{
    color: black;
    text-decoration: none;
}

#nav-button-list a:visited{
    color: black;
    text-decoration: none;
}

#nav-button-list a:hover{
    color:rgb(216,216,216);
  transition-duration: 0.3s; /*creates delay of change of colour to lightgray when hover */
}

.nav-button-font{
    font-size: 18px;
    font-weight: 50;
    font-family: Arial;
}


                    /* End For top of Page */




                    /* Start For body of page */
#main{
    grid-area: main;
    background-color: white;
    border: 1px solid gray;
    margin-top: 40px;

    display: grid;
    grid-template-columns: 300px 700px;
    grid-template-rows: 350px 350px 350px ;

    grid-template-areas: 
    "box1 box2"
    "box3 box4"
    "box5 box6";

    padding: 50px;

}

#box1{
    grid-area: box1;
    background-color: white;
    border-bottom: 2px solid black;
  
}

#box2{
    grid-area: box2;
    background-color: white;
    border-bottom: 2px solid black;
}


#box3{
    grid-area: box3;
    background-color: white;
    border-bottom: 2px solid black;
}

#box4{
    grid-area: box4;
    background-color: white;
    border-bottom: 2px solid black;
}

#box5{
    grid-area: box5;
    background-color: white;
    border-bottom: 2px solid black;
}

#box6{
    grid-area: box6;
    background-color: white;
    border-bottom: 2px solid black;
}




.interests-name{
    text-align: center;
    padding: 40px;
    background-color: white;

    font-size: 22px;
    font-weight: 300;
    font-family: Arial;
    color: black;
    margin-top: 40px;
    margin-right: 9px;
    margin-left: 9px;
    border: 1px solid lightgray;

   
    

}

.interests-name:hover{
    background-color: lightgray;
    transition-duration: 0.5s;
}

.interests-description{
    font-family: Arial;
    font-weight: 50;
    font-size: 20px;
    padding: 20px;
    padding-right: 20px;
    margin-left: 20px;
 
}
    



                    /* End For top of Page */





                     /* Start For footer of page */
#footer{
    font-size: 20px;
    font-weight: 50;
    font-family: Arial;
}


#footer{
    grid-area: footer;
    background-color: gray;

    font-size: 20px;
    font-weight: 50;
    color: white;
    text-align: center;
    padding-top: 10px;
}




                    /* End For footer of Page */
 /* Start For observer animations */

 .fade-in{
    opacity: 0;
    transition: opacity 250ms ease-in;
    
}

.fade-in.appear{
    opacity: 1;
    
}

.from-right{
    color: transparent;
    /*transform: translateX(50%);*/

}

.from-right{
    transition: color 800ms ease-in, transform 800ms ease-in ;

}


.from-right.appear{
   /* transform: translateX(0);*/
    color: black;

}



                                                /* end For observer animations */






/* For Mobile or Small Screens */


    @media only screen and (max-width: 736px){
        #wrapper{
                   
            display: grid;
            grid-template-columns:  165px 200px;
            grid-template-rows: 70px 600px 600px 40px;
            grid-template-areas: 
            "name name"
            "main main "
            "main main "
            "footer footer ";
            margin-top: 50px;
        }

        #nav-name{
            grid-area: name;
            
            background-color: transparent;

            font-weight: 50;
            font-family: Helvetica;
            font-size: 15px;
           
            padding-left: 0%;
            padding-bottom: 0px;
            color: black;
            text-align: center;
            margin-left: 0px;
          
           
         }

        #nav-tab{
            grid-area: name;
            background-color: transparent;
            padding: 20px;

        }

        #nav-button-list{
            background-color: transparent;
            margin-right: 0%;
         
         }
         


         #nav-button-list li{
            padding-top: 1px;
            padding-left: 4px;
            padding-right: 4px; 
          
        }

        .nav-button-font{
            font-size: 12px;
            font-weight: 50;
            font-family: Arial;
            
        }

        .nav-button-image{
            width: 15px;
            height: 15px;
            border: 2px solid black;
        }

        #main{
            grid-area: main;
            background-color: white;
            border: 1px solid gray;
            margin-top: 30px;

            display: grid;
            grid-template-columns: 300px 700px;
            grid-template-rows: 350px 350px 350px;

            grid-template-areas: 
            "box1"
            "box3"
            "box5";

            padding: 0px;
        }


        .interests-name{
            text-align: center;
            padding: 0px 0px 0px 0px;
            background-color: transparent;

            font-size: 12px;
            font-weight: 300;
            font-family: Arial;
            color: black;
            margin-top: 40px;
            margin-right: 9px;
            margin-left: 60px;
            border: 1px solid lightgray;


        }

        .interests-description{
            font-family: Arial;
            font-weight: 50;
            font-size: 12px;
            padding: 0px;
            padding-right: 0px;
            margin-left: 5px;
         
        }


        #box1{
            grid-area: box1;
            background-color: white;
            border-bottom: 2px solid black;
          
        }
        
        #box2{
            grid-area: box1;
            background-color: transparent;
            border-bottom: 0px solid transparent;
           
            margin-left: 50px;
            padding-top: 60px;
        }
        
        
        #box3{
            grid-area: box3;
            background-color: white;
            border-bottom: 2px solid black;
        }
        
        #box4{
            grid-area: box3;
            background-color: transparent;
            border-bottom: 0px solid transparent;
           
            margin-left: 50px;
            padding-top: 60px;
        }
        
        #box5{
            grid-area: box5;
            background-color: white;
            border-bottom: 2px solid black;
        }
        
        #box6{
            grid-area: box5;
            background-color: transparent;
            border-bottom: 0px solid transparent;
            
            margin-left: 50px;
            padding-top: 90px;
        }

        #footer{
            font-size: 15px;
            font-weight: 50;
            font-family: Arial;
        }


        #footer{
            grid-area: footer;
            background-color: gray;

       
            font-weight: 50;
            color: white;
            text-align: center;
            padding-top: 10px;
        }
        



    }
