/* Start For top of Page */
 #wrapper{
                   
    display: grid;
    grid-template-columns: 1fr 300px 400px 400px 1fr;
    grid-template-rows: 50px 600px 600px 50px;
    grid-template-areas: 
    ". name nav-tab nav-tab ."
    ". main main main ."
    ". main main main ."
    ". footer footer footer .";
    margin-top: 120px;
}



#nav-name{
    grid-area: name;
                                   
    background-color: white;

    font-weight: 50;
    font-family: Helvetica;
    font-size: 40px;
    border-bottom: 1px solid lightgray;
    padding-left: 12%;
    padding-bottom: 40px;
    color: black;
  
}

#nav-name:link{
    color: black;
    text-decoration: none;
  
}

#nav-name:visited{
    color: black;
    text-decoration: none;
  
}

#nav-name:hover{
    color:rgb(216,216,216);
    transition-duration: 0.3s; /*creates delay of change of colour to lightgray when hover */
  
}

#nav-tab{
    grid-area: nav-tab;
    background-color: white;
    border-bottom: 1px solid lightgray;
}





.nav-button-image{
    width: 20px;
    height: 20px;
    border: 2px solid black;
   
}
.nav-button-image:hover{
    border: 2px solid rgb(216,216,216);
    transition-duration: 0.3s;
}




#nav-button-list{
    list-style-type: none;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    margin-right: 8%;
 
    

}

#nav-button-list li{
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px; 
  
}

#nav-button-list a:link{
    color: black;
    text-decoration: none;
}

#nav-button-list a:visited{
    color: black;
    text-decoration: none;
}

#nav-button-list a:hover{
    color:rgb(216,216,216);
  transition-duration: 0.3s; /*creates delay of change of colour to lightgray when hover */
}

.nav-button-font{
    font-size: 18px;
    font-weight: 50;
    font-family: Arial;
}


                    /* End For top of Page */






                    /* Start For body of page */
#main{
    grid-area: main;
    background-color: white;
    border: 1px solid gray;
    margin-top: 40px;

    display: grid;
    grid-template-columns:500px 500px;
    grid-template-rows: 150px 700px;

    grid-template-areas: 
    "photo-list photo-list"
    "description description";

    padding: 50px;

}




.photo{
    width: 70px;
    height: 70px;
}


#photo-list{
    grid-area: photo-list;
    background-color: white;



    list-style-type: none;
    list-style: none;
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
}
#photo-list li{
    padding: 15px;
    
}


#description{
    grid-area: description;
    background-color: white;
    

    display: grid;
    grid-template-columns: 490px 490px;

    grid-template-areas: "box1 box2";

    column-gap: 30px;
    

}

/* START OF BOX1          */

#box1{
    grid-area: box1;
    display: grid;
   
    background-color: white;


    grid-template-columns:240px 240px; 
    grid-template-rows: repeat(5,100px);
   

   grid-template-areas: 
   "title1 title1"
   "swift cpp"
   "html css"
   "js jquery"
   "json python";



   column-gap:10px;
   row-gap:10px;
 
   

}


#title1{
    grid-area: title1;
    font-family: Arial;
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    
}

#swift{
    grid-area: swift;
    
}


#cpp{
    grid-area: cpp;
    
}

#html{
    grid-area: html;
     
}


#css{
    grid-area: css;
     
}



#js{
    grid-area: js;
  
}


#jquery{
    grid-area: jquery;
      
}

#json{
    grid-area: json;
   
}

#python{
    grid-area: python;
   
}

.name{
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    padding-top: 40px;

    font-size: 25px;
    font-family: Arial;
    font-weight: 50;
    color: black;
}

.name:hover{
    background-color: white;
    transition-duration: 0.5s;
}


/* END OF BOX1          */






#box2{
    grid-area: box2;
    display: grid;
    background-color: white;
    

 

    grid-template-columns: 240px 240px;

    grid-template-rows: repeat(4,100px);
    
  

    grid-template-areas: 
    "title2 title2"
    "xcode idle"
    "vs mo"
    "firebase eclipse";


   column-gap:10px;
   row-gap:10px;

  
}

#title2{
    grid-area: title2;
    font-family: Arial;
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    
}


#xcode{
    grid-area: xcode;
}


#idle{
    grid-area: idle;
}


#vs{
    grid-area: vs;
}

#mo{
    grid-area: mo;
}

#firebase{
    grid-area: firebase;
}

#eclipse{
    grid-area: eclipse;
}












    



                    /* End For body of Page */





                     /* Start For footer of page */
#footer{
    font-size: 20px;
    font-weight: 50;
    font-family: Arial;
}


#footer{
    grid-area: footer;
    background-color: gray;

    font-size: 20px;
    font-weight: 50;
    color: white;
    text-align: center;
    padding-top: 10px;
}




                    /* End For footer of Page */


/* For Mobile or Small Screens */


@media screen and (max-width: 736px){
    #wrapper{
               
        display: grid;
        grid-template-columns: 0.5fr 300px 400px 400px 0.5fr;
        grid-template-rows: 90px 800px 800px 50px;
        grid-template-areas: 
        ". name nav-tab nav-tab ."
        ". main main main ."
        ". main main main ."
        ". footer footer footer .";
        margin-top: 120px;
    }
    #nav-name{
      
       
        font-size: 20px;
       
        padding-left: 0%;
        padding-bottom: 10px;
       
     }


     #nav-button-list li{
        padding-top: 1px;
        padding-left: 10px;
        padding-right: 10px; 
      
    }


    .nav-button-font{
        font-size: 18px;
        font-weight: 50;
        font-family: Arial;
        
    }
    #main{
        grid-area: main;
        background-color: white;
        border: 1px solid gray;
        margin-top: 40px;
    
        display: grid;
        grid-template-columns:500px 500px;
        grid-template-rows: 150px 700px;
    
        grid-template-areas: 
        "photo-list photo-list"
        "description description";
    
        padding: 50px;
    
    }

    #box1{
        grid-area: box1;
        display: grid;
       
        background-color: white;
    
    
        grid-template-columns:240px 240px; 
        grid-template-rows: repeat(5,150px);
    
    
       grid-template-areas: 
       "title1 title1"
       "swift cpp"
       "html css"
       "js jquery"
       "json python";
    

       column-gap:10px;
       row-gap:10px;
    
    }


    #title1{
        grid-area: title1;
        font-family: Arial;
        font-weight: normal;
        color: black;
        font-size: 18px;
        text-align: center;
        padding: 20px;
        
    }

    



}
